@import "./reset/reset";
@import "./functions";

$main-col: rgb(66, 100, 143);
$fonts: #626262;

.web-title {
    color: lighten(set-color($main-col), 15);
    //font-family: 'Noto Serif KR', sans-serif;
    font-weight: 100;
}

.title {
    margin-top: 300px;
}

body {

    padding: 0;
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
    background-color: lighten($main-col, 65);

    li {
        color: darken(set-color($main-col), 50);
        list-style: none;
    }

    a {
        color: rgb(25, 135, 155);
    }

    .container h1,
    .container h2,
    .container h3,
    .container h4,
    .container h5,
    .container p {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .marginTB {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .wrapper {
        width: 90%;
        margin: auto;
        background-color: white;
    }

    .wrapper:before,
    
    .wrapper:after {
        content: "";
        position: absolute;
        top: 235px;
        z-index: -1;
        display: block;
        width: 10px;
        height: 160px;
        background: rgba(39, 44, 49, 0.75);
        filter: blur(25px);
    }

    .wrapper:after {
        @extend .wrapper:before;
        right: 5%;
    }

    h3 {
        z-index: -3;
        background-color: white;
    }

    h3::before {
        @extend .wrapper:before;
        z-index: -1;
        height: 10px;
        width: 100px;
        top: 0px;
        position: relative;
    }

    h1 {
        @extend .marginTB;
        color: darken(set-color($fonts), 60);
        //text-shadow:0px 0px 10px  invert($main-col, 20);     

    }


    h2 {
        @extend .marginTB;
        color: darken(set-color($fonts), 50);
        //text-shadow:0px 0px 10px  invert($main-col, 20);     
    }

    h3 {
        @extend .marginTB;
        color: darken(set-color($fonts), 40);
        z-index: 4;
        background-color: white;
    }

    h4 {
        @extend .marginTB;
        color: darken(set-color($fonts), 30);
        //text-shadow:0px 0px 10px  invert($main-col, 20);     
    }

    p {
        @extend .marginTB;
        color: darken(set-color($main-col), 80);

    }

    footer {
        background-color: darken($main-col, 0);
        padding: 30px;
        position: relative;
        bottom: 0;
    }

    footer p {
        color: lighten(set-color($main-col), 30);
        text-align: center;
    }
}

// Charts

 #chart1 .x.axis text {
    // display:none;
   text-anchor: start !important;
   transform: rotate(90deg);
} 
  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
// Bootstrap
.container {
    //min-height: 70vh;
    z-index: 0;
    background-color: white;
}

.card-body {
    //  background-color: lighten($color: $main-col, $amount: 20);
}

.card {
    margin-top: 10px;
    border-color: lighten($main-col, 0);
    //   border: dashed;
}

.box-shadow {
    box-shadow: 0 0 5px darken($main-col, 10);
}

.bg-custom {
    background-color: darken($main-col, 0);
    color: darken($main-col, 20);
}