* {
  margin: 0px;
  padding: 0; }

.web-title {
  color: white;
  font-weight: 100; }

.title {
  margin-top: 300px; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
  background-color: white; }
  body li {
    color: #42648f;
    list-style: none; }
  body a {
    color: #19879b; }
  body .container h1,
  body .container h2,
  body .container h3,
  body .container h4,
  body .container h5,
  body .container p {
    margin-top: 50px;
    margin-bottom: 50px; }
  body h1 {
    color: #494949; }
  body h2 {
    color: #626262; }
  body h3 {
    color: #7c7c7c; }
  body h4 {
    color: #959595; }
  body p {
    color: #121b26; }
  body footer {
    background-color: #42648f;
    padding: 30px;
    position: relative;
    bottom: 0; }
  body footer p {
    color: white;
    text-align: center; }

.container:before, .container:after, .container:after {
  content: "";
  position: absolute;
  top: 235px;
  z-index: -1;
  display: block;
  width: 10px;
  height: 160px;
  background: rgba(39, 44, 49, 0.75);
  -webkit-filter: blur(25px);
  filter: blur(25px); }

.rect {
  background-image: linear-gradient(-90deg, red, yellow); }

.container:after {
  right: 130px; }

.container {
  min-height: 70vh;
  z-index: 0;
  background-color: white; }

.card {
  margin-top: 10px;
  border-color: #42648f;
  border: dashed; }

.box-shadow {
  box-shadow: 0 0 5px #324c6c; }

.bg-custom {
  background-color: #42648f;
  color: #223349; }
